.page-header
  %h1 Searching Items
  = simple_form_for(:item, :html => { :class => 'form-search' }) do |f|
    = f.error_notification

    .form-inputs
      = f.search_field :query, value: @query, autofocus: true, class: "search-query"
      = f.submit "Search", :class => "btn btn-primary"

- if @items.empty?
  %h1 No matches
- else
  =render partial: 'list'
